streamlit
python-dotenv
llama-index
llama-index-llms-gemini
llama-index-embeddings-huggingface
sentence-transformers
torch
transformers
huggingface-hub
google-generativeai
tqdm
llama-index-agent-react
